.all-body {
    padding-top: 70px;
}

/*.thumbnail {*/
    /*height: 500px;*/
/*}*/

.section-intro {
    display: block;
    padding-bottom: 25px;
    padding-top: 20px;
}

.featured-heading {
    display: inline;
}

.search {
    display: inline;
    padding-left: 28%;
}

.search-group {
    padding-bottom: 12px;
}

.add-btn, .see-all-btn {
    float: right;
}

.edit-btn {
    margin-top: 15px;
}
