<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${band.name}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="all-body container">
    <div class="all-bands">
        <div class="section-intro">
            <h2 class="featured-heading">Selected Band</h2>
            <span class="see-all-btn"><a href="/bands" type="button" class="btn btn-danger">Back to All Bands</a></span>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img th:src="${band.imgUrl}" alt="band-image"/>
                    <div class="caption">
                        <h3 th:text="${band.name}"></h3>
                        <div class="genre-div">
                            <h5 class="genre-heading">Genre: </h5>
                            <span th:text="${band.genre}" class="genre-body"></span>
                        </div>
                        <div class="year-formed-div">
                            <h5 class="year-formed-heading">Year Formed: </h5>
                            <span th:text="${band.yearFormed}" class="year-formed-body"></span>
                        </div>
                        <a th:href="'/bands/edit/' + ${band.id}" class="btn btn-default btn-block edit-btn-detail" role="button">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="all-albums">
        <div class="section-intro">
            <h2 class="featured-heading">Associated Albums</h2>
            <span class="see-all-btn"><a href="/albums" type="button" class="btn btn-danger">See All Albums</a></span>
        </div>
        <div class="row">
            <div th:each="album : ${band.albums}" class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img th:src="${album.imgUrl}" alt="album-image"/>
                    <div class="caption">
                        <h3>
                            <span th:text="${album.name}"></span>
                            —
                            <span th:text="${album.band.name}"></span>
                        </h3>
                        <div class="genre-div">
                            <h5 class="genre-heading">Genre: </h5>
                            <span th:text="${album.genre}" class="genre-body"></span>
                        </div>
                        <div class="year-released-div">
                            <h5 class="year-released-heading">Year Released: </h5>
                            <span th:text="${album.yearReleased}" class="year-released-body"></span>
                        </div>
                        <div class="label-div">
                            <h5 class="label-heading">Label: </h5>
                            <span th:text="${album.label}" class="label-body"></span>
                        </div>
                        <a th:href="'/albums/edit/' + ${album.id}" class="btn btn-default btn-block edit-btn-detail" role="button">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="song-detail">
        <div class="section-intro">
            <h2 class="featured-heading">Associated Songs</h2>
            <span class="see-all-btn"><a href="/songs" type="button" class="btn btn-danger">See All Songs</a></span>
        </div>
        <div class="row">
            <div th:each="song : ${band.songs}" class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/b8/f7/87/b8f787d14ad16481760db7e4251ded5e.jpg" alt="band-image"/>
                    <div class="caption">
                        <h3>
                            <span th:text="${song.name}"></span>
                            —
                            <span th:text="${song.band.name}"></span>
                        </h3>
                        <div class="length-div">
                            <h5 class="length-heading">Song Length: </h5>
                            <span th:text="${song.length}" class="length-body"></span>
                        </div>
                        <div class="album-div">
                            <h5 class="album-heading">Album: </h5>
                            <span th:text="${song.album.name}" class="album-body"></span>
                        </div>
                        <a th:href="'/songs/edit/' + ${song.id}" class="btn btn-default btn-block edit-btn-detail" role="button">Edit</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="application/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>